.card-container {
    width: 340px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px gray;
}

.card-image-container {
    padding-right: 16px;
}

.card-header {
    display: flex;
    margin-bottom: 16px;
}


.card-name {
    font-size: 18px;
    font-weight: 700;
}

.card-handle {
    font-size: 14px;
}